html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  padding: 20px 0; /* Adjust this value to increase/decrease footer height */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px; /* Adjust this value to set a minimum height */
}

.footer-copyright {
  width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

/* Top margin on the place cards */
.card {
    margin-top: 30px;
}

/* Text shadow on buttons */
.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-large i.material-icons {
  line-height: inherit;
  margin-right: 5px;
}

.brand-logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 5px 0;
}

.logo-text {
  font-size: 18px;
  margin: 0 5px;
  font-weight: bold;
}

.logo-image {
  height: 100%;
  width: auto;
  max-height: 100px;
  padding: 5px 0;
}

@media only screen and (max-width: 992px) {
  .brand-logo {
    left: 50%;
    transform: translateX(-50%);
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-image {
  flex: 0 0 auto;
}

.card-content {
  flex: 1 0 auto;
}

.card-reveal {
  display: flex;
  flex-direction: column;
}

.card-action {
  flex: 0 0 auto;
  padding: 10px 20px !important;
}

.reported-by {
  margin: 0;
  font-size: 0.9em;
  color: rgba(0,0,0,0.6);
}

.password-help-container {
  padding-left: 3rem;  /* Adjust this value to align with the input field */
}

.forgot-password-link {
  display: inline-block;
  margin-bottom: 10px;
}

/* Adjusting the helper-text positioning */
.input-field .helper-text {
  min-height: auto;
  padding-left: 0;
}

/* Styling for the password requirements list */
.helper-text ul {
  padding-left: 20px;
  margin-top: 5px;
}

.helper-text li {
  list-style-type: disc;
}