{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Cuisine</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_cuisine') }}">
            <!-- cuisine name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons">create</i>
                    <input id="cuisine_name" name="cuisine_name" minlength="3" maxlength="25"
                        type="text" class="validate" required>
                    <label for="cuisine_name">Cuisine Name</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large green text-shadow">
                        <i class="material-icons">send</i> Add Category
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}