<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Materialize CDN-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--My CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
  <title>Angel Food</title>
</head>

<body class="d-flex flex-column min-vh-100">
  <main class="flex-shrink-0">
      <header>
        <nav>
          <div class="nav-wrapper green darken-1">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="{{ url_for('show_places') }}">Home</a></li>
              {% if session.user %}
              <li><a href="{{ url_for('profile', username=session['user']) }}">My Places</a></li>
              <li><a href="{{ url_for('add_place') }}">Add A Place</a></li>
              <li><a href="{{ url_for('logout') }}">Log Out</a></li>
              {% else %}
              <li><a href="{{ url_for('login') }}">Log In</a></li>
              <li><a href="{{ url_for('register') }}">Register</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
          <li><a href="{{ url_for('show_places') }}">Home</a></li>
          {% if session.user %}
          <li><a href="{{ url_for('profile', username=session['user']) }}">My Places</a></li>
          <li><a href="{{ url_for('add_place') }}">Add A Place</a></li>
          <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          {% else %}
          <li><a href="{{ url_for('login') }}">Log In</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          {% endif %}
        </ul>
      </header>

      {% block content %}
      {% endblock %}
    </main>
  
    <footer class="footer mt-auto green darken-1">
      <div class="container">
        <div class="footer-content">
          <div class="footer-copyright">
            © 2024 Steve Cook
            <a class="grey-text text-lighten-4 right" href="https://www.stevecookfiction.com">My Portfolio</a>
          </div>
        </div>
      </div>
    </footer>
  

  <!--JQuery for Materialize-->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!--Javascript for Materialize-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!--My Javascript-->
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>