{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 l4 offset-s0 offset-m2 offset-l6">
        <form action="{{ url_for('search') }}" method="get" class="search-form">
            <div class="input-field" style="display: flex; align-items: center;">
                <input id="search" type="text" name="query" placeholder="Search places..." class="custom-placeholder" style="flex-grow: 1; margin-right: 10px;">
                <button type="submit" class="btn green darken-1">Search</button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row card-container">
        {% for place in places %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    {% if place.image_url.startswith('http') %}
                        <img class="activator" src="{{ place.image_url|cloudinary_url(width=500, height=500, crop='fill') }}" alt="{{ place.place_name }}">
                    {% else %}
                        <img class="activator" src="{{ url_for('static', filename=place.image_url) }}" alt="{{ place.place_name }}">
                    {% endif %}
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <span>{{ place.place_name }}</span>
                        <i class="material-icons right">more_vert</i>
                    </span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{ place.place_name }}<i
                            class="material-icons right">close</i></span>
                    <p class="place-info cuisine">Cuisine: {{ place.cuisine_name }}</p>
                    <p class="place-info price">Price per person: £{{ place.price_per }}</p>
                    <p class="place-info review-headline">Review: {{ place.review_headline }}</p>
                    <p class="place-info review-text">{{ place.review_text }}</p>
                    <p class="place-info takeaway">Takeaway: {% if place.takeaway == "on" %}Yes{% else %}No{% endif %}
                    </p>
                    <p class="place-info visited">Visited:
                        {{ place.visited if place.visited else 'Date not provided' }}</p>
                    {% if session.user|lower == place.created_by|lower %}
                    <div class="place-info actions">
                        <a href="{{ url_for('edit_place', place_id=place._id) }}"
                            class="btn-small light-green darken-2">Edit</a>
                        <a href="{{ url_for('delete_place', place_id=place._id) }}"
                            class="btn-small red darken-2 delete-place">Delete</a>
                    </div>
                    {% endif %}
                </div>
                <div class="card-action">
                    <p class="reported-by right-align">Reported by: {{ place.created_by }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}